---
layout: default
---
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron push-left-240">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="{{site.url}}/images/jumbotron-1.jpg" alt="Chania">
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>LA is always so much fun!</p>
        </div>
      </div>

      <div class="item">
        <img src="{{site.url}}/images/jumbotron-1.jpg" alt="Chicago">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>

      <div class="item">
        <img src="{{site.url}}/images/jumbotron-1.jpg" alt="New York">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
  
<div id="page--news--update" class="container-fluid push-left-240">
  <!-- Example row of columns -->
  <div class="row">
    <h2 class="col-xs-12">Latest News</h2>
    <div class="col-md-4 col-lg-3">
      <div class="tgl">
        <span class="tgl1">25</span>
        <span class="tgl2">Jan 2018</span>
      </div>
      <a href="" class="nu0"><img src="http://www.bina-artha.net/images/news/Untitled-2-01.jpg" /></a>
      <div class="nu1">
        <h3><a href="">The Implementation of The 4 Disciplines of Executions</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
      </div>
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="tgl">
        <span class="tgl1">25</span>
        <span class="tgl2">Jan 2018</span>
      </div>
      <a href="" class="nu0"><img src="http://www.bina-artha.net/images/news/Untitled-2-01.jpg" /></a>
      <div class="nu1">
        <h3><a href="">The Implementation of The 4 Disciplines of Executions</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
      </div>
   </div>
    <div class="col-md-4 col-lg-3">
      <div class="tgl">
        <span class="tgl1">25</span>
        <span class="tgl2">Jan 2018</span>
      </div>
      <a href="" class="nu0"><img src="http://www.bina-artha.net/images/news/Untitled-2-01.jpg" /></a>
      <div class="nu1">
        <h3><a href="">The Implementation of The 4 Disciplines of Executions</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>

<div id="page--achievement" class="container-fluid push-left-240">
  <!-- Example row of columns -->
  <div class="row">
    <h2 class="col-xs-12">Ahievements</h2>
    <div class="col-md-4 col-lg-3">
      <div class="tgl">
        <span class="tgl1">25</span>
        <span class="tgl2">Jan 2018</span>
      </div>
      <a href="" class="nu0"><img src="http://www.bina-artha.net/images/news/300000%20clients-01.jpg" /></a>
      <div class="nu1">
        <h3><a href="">The Implementation of The 4 Disciplines of Executions</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
      </div>
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="tgl">
        <span class="tgl1">25</span>
        <span class="tgl2">Jan 2018</span>
      </div>
      <a href="" class="nu0"><img src="http://www.bina-artha.net/images/news/300000%20clients-01.jpg" /></a>
      <div class="nu1">
        <h3><a href="">The Implementation of The 4 Disciplines of Executions</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
      </div>
   </div>
    <div class="col-md-4 col-lg-3">
      <div class="tgl">
        <span class="tgl1">25</span>
        <span class="tgl2">Jan 2018</span>
      </div>
      <a href="" class="nu0"><img src="http://www.bina-artha.net/images/news/300000%20clients-01.jpg" /></a>
      <div class="nu1">
        <h3><a href="">The Implementation of The 4 Disciplines of Executions</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>

<div id="page--games" class="container-fluid push-left-240">
  <!-- Example row of columns -->
  <div class="row">
    <h2 class="col-xs-12">Games</h2>
    <div class="col-md-4 col-lg-3">
      <div class="tgl">
        <span class="tgl1">25</span>
        <span class="tgl2">Jan 2018</span>
      </div>
      <a href="" class="nu0"><img src="{{site.url}}/images/games-banner.jpg" /></a>
      <div class="nu1">
        <h3><a href="">Games #1</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">Download &raquo;</a></p>
      </div>
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="tgl">
        <span class="tgl1">25</span>
        <span class="tgl2">Jan 2018</span>
      </div>
      <a href="" class="nu0"><img src="{{site.url}}/images/games-banner.jpg" /></a>
      <div class="nu1">
        <h3><a href="">Games #2</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">Download &raquo;</a></p>
      </div>
   </div>
    <div class="col-md-4 col-lg-3">
      <div class="tgl">
        <span class="tgl1">25</span>
        <span class="tgl2">Jan 2018</span>
      </div>
      <a href="" class="nu0"><img src="{{site.url}}/images/games-banner.jpg" /></a>
      <div class="nu1">
        <h3><a href="">Games #4</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">Download &raquo;</a></p>
      </div>
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="tgl">
        <span class="tgl1">25</span>
        <span class="tgl2">Jan 2018</span>
      </div>
      <a href="" class="nu0"><img src="{{site.url}}/images/games-banner.jpg" /></a>
      <div class="nu1">
        <h3><a href="">Games #5</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">Download &raquo;</a></p>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>

<div id="page--detail--post" class="container-fluid push-left-240">
  <div class="row">
      <div class="col-xs-12 post-content">
          <h2 class="blog-post-title">Sample judul apa saja baik achievement atau news</h2>
          <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
          <img src="http://www.bina-artha.net/images/news/Untitled-2-01.jpg" style="max-width:1200px;width:100%" />
          <br/><br/><br/>
          <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
          <hr>
          <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
          <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </blockquote>
          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          <h2>Heading</h2>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <h3>Sub-heading</h3>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <pre><code>Example code block</code></pre>
          <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <h3>Sub-heading</h3>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
          </ul>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
          </ol>
          <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>

          <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
          <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </blockquote>
          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
          </ul>
          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
      </div>
  </div>
</div>

<div id="page--calender" class="container-fluid push-left-240">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="col-xs-12">Calender</h2>
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;hl=id&amp;bgcolor=%23ffffff&amp;src=5sd73tjlsec767nsfqi3n5r9eg%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=Asia%2FJakarta" style="border-width:0;width:100%;height:90vh;padding: 0 2rem;margin-bottom: 4rem;" frameborder="0" scrolling="no"></iframe>
    </div>  
  </div>
</div>
  
<div class="posts hide">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
