//@import "reset";
@import "variables";

// Component
.circle{
  overflow:hidden;
  border-radius:50%;
  display:inline-block;
  img{
    width:100%;
  }
}

#left--menu{
  width:240px;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  background:#ddd;
  box-shadow: 0px 0px 5px #666;
  z-index:1031;
  
  @include mobile{
    display:none;
  }
  
  #company--logo{
    padding:1rem 0;
    background:#fff;
  }
  
  .user-box{
    background:#08437E;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color:#fff;

    .fa-cog{
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 2rem;
    }
    .circle{
      width:70%;
      margin-bottom:1rem;
    }
    
    .u1{
      color:#ddd;
    }
    
    .u2{
      font-weight:bold;
      font-size:1.6rem;
    }  
  }
  
  #site--menu{
    margin:0;
    padding:0;
    
    ul{
      list-style:none;
      margin:0;
      padding:0;
      li{
        a{
          display: block;
          padding: 1.5rem;
          border-bottom: 1px solid #ccc;
          font-weight: bold;
          color: #999;
          background:#fff;
          text-decoration:none;
          i{
            font-size:2rem;
            margin-right:1rem;
          }
        }
      }
    }
    
  }
  
}

.navbar-default{
  padding-top:0.75rem;
  padding-bottom:0.75rem;
  .navbar-brand,
  .navbar-brand:hover{
    color:#08437E;
    font-size:2rem;
    font-weight:bold;
  }
}

.push-left-240{
 padding-left:240px;
}

.jumbotron{
  padding-top:0;
  padding-bottom:0;
  margin-bottom:0;
}

// Halaman POSTS dan POST
#page--news--update,
#page--achievement,
#page--detail--post
{
  border-bottom:1px dashed #111;
  .row{
    margin:0;
    h2{
      color: #999;
      font-size: 2.5rem;
      margin-bottom: 3rem;
      margin-top: 2rem;
    }
    .col-md-4{
      margin-bottom:4rem;
      .tgl{
        width:100px;
        position:absolute;
        top:0;
        left:1rem;
        background:08437E;
        color:#fff;
        font-size:2rem;
        font-weight:bold;
      }
      a.nu0{
        border:1px solid #ccc;
        border-bottom:none;
        display:block;
        img{
          width:100%
        }
      }
      .nu1{
        padding:2rem;
        border:1px solid #ccc;
        border-top:none;
        h3{
          a{
            color:#111;
          }
        }
      }
    }
  }
}

#page--detail--post{
  padding-bottom:6rem;
  .row{
    .post-content{
      padding:0 4rem;  
      h2.blog-post-title{
        font-size:3rem;
        color:#111;
        margin-bottom:1rem;
      }
    }
  }
}

.pagination{
  margin-bottom:4rem;
}

// Footer
footer{
  background:#08437E;
  color:#fff;
  
  .row{
    margin:0;
    div{
      padding:4rem;
      .fab{
        color:#fff;
        font-size:3rem;
        margin-right:1rem;
        margin-left:1rem;
        position:relative;
        top:0.5rem;
      }
    }
  }
}

// Break point rule
@media screen and (max-width: 1023px) {
  #left--menu{display:none;}
  .push-left-240{padding-left:15px;}
}

// Login page
@import "css-login-page";

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
