---
---

/* override icon */
.fas.fa-folder-open,
.fas.fa-file{
  color: yellow;
  background: darkseagreen;
  padding: 1rem;
  font-size: 18px;
}

.fas.orange{background:orange}
.fas.red{background:deeppink}
.fas.blue{background: dodgerblue;}

.doc-content .fas.fa-edit,
.doc-content .fas.fa-trash-alt{
    color: #fff;
    background: orange;
    padding: 0.5rem;
    border-radius: 50%;
    margin: 0.5rem;
    display: inline-block;
}
.doc-content .fas.fa-trash-alt{
    background:red;
}

/* override base */
body{
  background:#f6f6f6;
}

/* overrider bs component */
.navbar-inverse {
    background-color: #D9EBEF;
    border: none;
}
  .navbar-inverse .navbar-brand {
    color: #30899b;
  }
  .navbar-inverse .navbar-brand:hover {
    color: dodgerblue;
  }
  .navbar-inverse .navbar-nav>li>a,
  .navbar-inverse .navbar-nav>.active>a{
     color:#30899b;
  }
  .navbar-inverse .navbar-nav>li>a:focus,
  .navbar-inverse .navbar-nav>li>a:hover {
      color: dodgerblue;
      background-color: transparent;
  }
    .navbar-inverse .navbar-nav>.active>a{
      background-color: #b6e4ed;
    }
    .navbar-inverse .navbar-nav>.active>a:focus,
    .navbar-inverse .navbar-nav>.active>a:hover {
      color: dodgerblue;
      background-color: #b6e4ed;
    }

/* override all section */

#section--document{
  margin-top:10rem;
}

.doc-path{
    background-color: dodgerblue;
}
  .doc-path .navbar-brand{
      color:#fff;
  }

.doc-content{
    background-color:#fff;
}
  .doc-content .table{
      border: 1px solid #ddd;
  }
    .doc-content .table tr th{
        width:5rem;
    }
      .doc-content .table tr td h4{
          margin-top:0;
          margin-bottom:0;
      }


.modal-body{
  .input-group{
    margin-bottom:1rem;
  }
}

footer{
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 4rem;
    border-top: 1px solid #eee;
}

/* override breakpoint */

