---
---

body{
  background:#f6f6f6;
}

#section--document{
  margin-top:10rem;
}

.doc-path{
    background-color: dodgerblue;
}

.doc-path .navbar-brand{
    color:#fff;
}

.doc-content{
  background-color:#fff;
}

.doc-content .table{
    border: 1px solid #ddd;
}

footer{
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 4rem;
    border-top: 1px solid #eee;
}
