    <!-- top navbar menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BinaArtha</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Sullastri</a></li>
            <li><a href="#about">Feedback</a></li>
            <li><a href="#contact">Online Test</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <nav id="online--test--header" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">10:00</a>
        </div>
      </div>
    </nav>
    <!--/. top navbar menu -->
