<div id="left--menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center" id="company--logo">
        <img src="{{site.url}}/images/logo.jpg" />
      </div>
      <div class="col-xs-12 text-center user-box">
        <i class="fas fa-cog"></i>
        <div class="circle">
          <img src="{{site.url}}/images/kemal-profile-pic.png" />
        </div>
        <br/>
        <span class="u1">Welcome back,</span>
        <br/>
        <span class="u2">SADAM HUSEN</span>
      </div>
      <div class="col-xs-12" id="site--menu">
        <ul>
          <li class="l1"><a href=""><i class="fas fa-home"></i> HOME</a></li>
          <li class="l2"><a href=""><i class="fas fa-binoculars"></i> NEWS UPDATE</a></li>
          <li class="l3"><a href=""><i class="fas fa-trophy"></i> ACHIEVEMENT</a></li>
          <li class="l4"><a href=""><i class="far fa-calendar-alt"></i> SCHEDULE</a></li>
          <li class="l5"><a href=""><i class="fas fa-puzzle-piece"></i> GAMES</a></li>
          <li class="l6"><a href=""><i class="fas fa-book"></i> B-MAGAZINE</a></li>
          <li class="l7"><a href=""><i class="fas fa-users"></i> RECRUITEMENT</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
