<div id="left--menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center" id="company--logo">
        <img src="{{site.url}}/images/logo.jpg" />
      </div>
      <!-- sebelum login -->
      <div class="col-xs-12 user-box" style="margin-bottom:1px">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Keep login
            </label>
          </div>
          <button type="submit" class="btn btn-success">Login</button>
        </form>
      </div>
      <!-- // sebelum login -->
      <!-- sebelum login pilihan 2-->
      <div class="col-xs-12 text-center user-box" style="margin-bottom:1px">
        <div class="circle" style="background:#fff">
          <img src="https://cdn1.iconfinder.com/data/icons/business-charts/512/customer-512.png" />
        </div>
        <br/>
        <span class="u1">Dear employee, please login to your account first</span>
        <br/><br/>
        <button type="submit" class="btn btn-success">Login</button>
      </div>
      <!-- // sebelum login pilihan 2 -->
      <!-- setelah login -->
      <div class="col-xs-12 text-center user-box">
        <i class="fas fa-cog"></i>
        <div class="circle">
          <img src="{{site.url}}/images/kemal-profile-pic.png" />
        </div>
        <br/>
        <span class="u1">Welcome back,</span>
        <br/>
        <span class="u2">SADAM HUSEN</span>
      </div>
      <!-- // setelah login -->
      <div class="col-xs-12" id="site--menu">
        <ul>
          <li class="l1"><a href=""><i class="fas fa-home"></i> HOME</a></li>
          <li class="l2"><a href=""><i class="fas fa-binoculars"></i> NEWS UPDATE</a></li>
          <li class="l3"><a href=""><i class="fas fa-trophy"></i> ACHIEVEMENT</a></li>
          <li class="l4"><a href=""><i class="far fa-calendar-alt"></i> SCHEDULE</a></li>
          <li class="l5"><a href=""><i class="fas fa-puzzle-piece"></i> GAMES</a></li>
          <li class="l6"><a href=""><i class="fas fa-book"></i> B-MAGAZINE</a></li>
          <li class="l7"><a href=""><i class="fas fa-users"></i> RECRUITEMENT</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
